body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding: 10px 10px;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    border-bottom: 1px solid #DDD;
}

header img {
    height: 50px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 30px;
}

header nav a {
    text-decoration: none;
    color: #1351D8;
    font-weight: bold;
    font-size: 18px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #003478;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1B3571;
    color: #FFF;
    padding: 10px 40px;
}

.redes-sociais {
    display: flex;
    gap: 15px;
}

.redes-sociais img,
.logo-footer img{
    height: 30px;
    transition: transform 0.3s ease;
}

.redes-sociais img:hover {
    transform: scale(1.1);
}

.copyright p{
    margin: 0;
    font-size: 14px;
    text-align: center;
}