.texto-promocional {
    flex: 0 0 300px;
    padding-right: 20px;
}

.texto-promocional p {
    font-size: 16px;
    line-height: 1.5;
    color: #000;
    margin: 20px;
    text-align: left; 
}

.video-promocional {
    flex: 1;
    min-width: 0;
}

.video-promocional iframe {
    width: 100%;
    height: 700px;
}

.tabelaCarros {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.veiculo-card {
    width: 250px;
    padding: 15px;
    margin: 10px;
}

.veiculo-card img {
    width: 100%;
    height: auto;
    margin-bottom: 0px;
}

.veiculoInformacao {
    display: flex;
    align-items: flex-start;
}

.veiculoInformacao input[type="checkbox"]{
    width: 30px;
    height: 30px;
    min-width: 20px;
    border-radius: 4px;
    border: 1px solid #000;
    margin: 2px 10px 0 0;
    position: relative;
    flex-shrink: 0;
    cursor: pointer; 
}

.veiculoInformacao img {
    width: 20px;
    margin-top: auto;
    vertical-align: bottom;

}

.texto-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.texto-container h5{
    margin: 0;
    font-size: 12;
    text-align: left;
    font-weight: bold;
    color: #1351D8;
}

.texto-container p{
    margin: 0;
    font-size: 11px;
    text-align: left;
    color: #000;
}

.submit-botao{
    background-color: #1351D8;
    color: #FFF;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 10px auto 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 200px;
}

.submit-botao:hover{
    background-color: #00274C;
    color: #FFFFFF;
    transform: translateY(-2px);
}

